/* card expands and shadow gets darker when hovered */
.card-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;
}

/* view button expands when you hover over it */
.view-hover {
    transition: transform 0.2s ease-in-out;
}
.view-hover:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/* list item background changes colour when hovered */
.game-list-item {
    background-color: var(--bs-white);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.game-list-item:hover {
    background-color: var(--bs-secondary-bg-subtle);
    cursor: pointer;
}